<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<section class="get-in-touch">
    <div>
        <table class="table table-striped">
            <thead>
                <tr class="get-in-touch">
                    <th scope="col">Identifiant</th>
                    <th scope="col">Date d'envoi</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Emetteur</th>
                    <th scope="col">Recepteur</th>

                </tr>
            </thead>
            <tbody *ngFor='let list of listEnvoi'>
                <tr class="get-in-touch">
                    <th scope="row">{{list.id}}</th>
                    <td>{{list.date}}</td>
                    <td>{{list.montant}}</td>
                    <td>{{list.emetteur.prenom}} {{list.emetteur.nom}}</td>
                    <td>{{list.recepteur.prenom}} {{list.recepteur.nom}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</section>